.front{
    display: flex;
    background-image: url('../images/front-sm.jpg');
    background-size: cover;
    justify-content: right;
    width: 100vw;
    height: 100vh;
}
.front-bg{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.text-box{
    width: 500px;
    position: relative;
    top: 10%;
    left: -10%;
}

.front-heading{
    font-weight: 900;
    text-shadow: 2px 2px 10px rgba(27,27,27,0.4);
}
#books-span{
    font-family: 'Lucida Handwriting',cursive;
    color: transparent;
    background: linear-gradient(45deg,rgb(203, 92, 255),rgb(255, 0, 111));
    background-clip: text;
}
.front-desc{
    width: 400px;
    font-weight: 600;
}
@media (min-width: 767px){
    .front{
        background-image: url('../images/front-lg.jpg');
        background-size: cover;
    }
}