.margin-div{
    height: 40px;
}
.search-background{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/008/218/160/small/horizontal-topographic-map-black-topographer-seamless-pattern-dark-typography-linear-background-for-mapping-and-audio-equalizer-backdrop-illustration-vector.jpg');
    background-size: 700px;
}
.search-bar{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.search-result-container{
    display: flex;
    justify-content: center;
}
.search-results{
    width: 70vw;
    height: auto;
    min-height: 90vh;
}
@media (max-width:876px){
    .search-results{
        width: 100vw;
    }
}